#contact {
    flex-direction: column;
    > h2 {
        font-size: 27px;
        font-weight: bold;
        color: var(--dark-0);
        text-transform: uppercase;
        margin: 6rem 2rem 3rem 2rem;
        padding: 0 var(--space);
        text-align: center;
    }
    p {
        font-size: 14px;
        font-weight: 600;
        color: var(--gray-1);
    }
    > section {
        flex-direction: column;
    }
    #map {
        height: 263px;
        width: 100%;
        margin-top: var(--space);
        border: 0;
    }
    .contacts {
        margin: 0;
        padding: var(--space);
        margin-top: var(--space);
        flex-direction: column;
        li {
            border: var(--gray-3) 1px solid;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            padding: var(--space);
            margin-bottom: calc(var(--space) * 3);
            text-align: center;
            color: var(--gray-1);
            img {
                width: 6rem;
                background-color: var(--white);
                margin: 1rem auto;
                margin-top: -60px;
                padding: 0 var(--space);
            }
            .img-location {
                width: 5.5rem;
                margin-bottom: 0.5rem;
            }
            p {
                margin: 0;
                font-size: 1.2rem;
                font-weight: 300;
                &.title {
                    font-weight: 600;
                    font-size: 25px;
                }
            }
        }
    }
    button {
     @include button-green;
     width: 100%;
    }
}

@media (min-width: 1200px)  {
   #contact {
    > section {
        flex-direction: row;
        form, #map {
            flex: 1;
        }
        form {
            max-width: unset;
            textarea {
                min-height: 265px;
                resize: vertical;
            }
        }
        #map {
            margin-left: 0;
            height: auto;
        }
    }
    .contacts {
        flex-direction: row;
        li + li {
            margin-left: var(--space);
        }
    }
   }
   button {
    justify-content: flex-start;
    width: 200px;
   }
}

@media (min-width: 768px)  {
    #contact {
     > h2 {
        text-align: left;
        padding: 0;
        font-size: 3rem;
        }
    }
}