.page {
    h3 {
        font-size: 20px;
        font-weight: 400;
    }
    .options {
        margin-top: 20px;
        flex-direction: column;
        label {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            margin-bottom:2rem;
            span {
                margin-left: 1rem;
            }
            .square {
                width: 24px;
                height: 24px;
                border: var(--gray-10) 2px solid;
                justify-content: center;
                align-items: center;
                > div {
                    width: 14px;
                    height: 14px;
                    background-color: var(--gray);
                    opacity: 0;
                    transition: all .2s ease-out;
                }
            }
            &:hover {
                .square {
                    border: var(--gray-8) 2px solid;
                    >div {
                        opacity: 0.2;
                    }
                }
            }
            input {
                display: none;
                &:checked+.square {
                    >div {
                        opacity: 1;
                        background-color: var(--blue);
                    }
                }
            }
            .content {
                flex-direction: column;
                padding-left: 10px;
                font-size: 1em;
                color: var(--dark-0);
                line-height: 1.5em;
                .name {
                    font-size: 16px;
                    font-weight: 600;
                }
                .description {
                    font-size: 0.9em;
                    color: var(--gray-1);
                }
                .price {
                    font-weight: 600;
                }
            }
        }
        label:hover{
            color: var(--blue)
        }
    }
}