#service {
    flex-direction: column;
    h2 {
        padding: 0 var(--space);
        margin: 6rem 2rem 1rem 2rem;
        font-size: 27px;
        font-weight: bold;
        color: var(--dark-0);
        text-transform: uppercase;
        text-align: center;
        small {
            color: var(--gray-2);
            display: block;
            font-size: 20px;
            font-weight: 600;
        }
    }
    > img {
        width: 100%;
        margin: 0;
    }
    > div {
        flex-direction: column;
        a {
            @include button-green;
            margin: var(--space);
        }
         .icons {
            flex-direction: column;
            figure {
                margin-top: var(--space);
                flex-direction: column;
                align-items: center;
                img {
                    width: 7rem;
                }
                figcaption {
                    margin: var(--space);
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--gray-0);
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #service {
        h2 {
            font-size: 3rem;
            text-align: left;
            small {
                font-size: 2rem;
            }
        }
        > div {
            flex-direction: column-reverse;
            .icons {
                flex-direction: row;
                justify-content: space-around;
                figure {
                    margin: 2rem 0;
                    img {
                        width: 7rem;
                    }
                }
            }
            a {
                width: 200px;
                margin: calc(var(--space) * 3) auto;
                text-align: center;
            }
        }
    }
}

@media (min-width: 992px)  {
    #service {
        h2 {
            text-align: left;
        }
    }
}

@media (max-width: 400px) {
    #service {
        h2 {
            margin: 5rem 0;
            }
        }
     }