:root {
    --white: #FFF;
    --black: #000;
    --black-hover: #111;
    --black-active: #222;
    --black-10: #0000001a;
    --black-75: #000000bf;
    --dark-0: #333;
    --dark-1: #000000BF;
    --gray: #79756c;
    --gray-0: #707070;
    --gray-1: #7e7e7e;
    --gray-2: #9A9A99;
    --gray-3: #CCC;
    --gray-4: #00000029;
    --gray-5: #E5E3DFBF;
    --gray-6: #D8D8D8;
    --gray-7: #E5E3DF;
    --gray-8: #DDD;
    --gray-9: #999;
    --gray-10: #EEE;
    --gray-11: #444;
    --gray-12: #E8E8E8;
    --red: #E32119;
    --red-hover: #E4423B;
    --red-active: #C91D16;
    --green: #00994D;
    --green-hover: #00BE60;
    --green-active: #00773C;
    --blue: #199BD4;
    --blue-hover: #1CABE9;
    --blue-active: #00A0E6;
}